@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.index-content{
  width: 880px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;
  .title{
    display: flex;
    justify-content: space-between;
    .material-icons{
      // margin-left: 47px;
      margin-right: 8px;
      color: #198754;
      font-size: 24px;
      // line-height: 24px;
      // text-align: center;
    }
    .admin{
      display: flex;
      align-items: center;
      h1{
        font-size: 24px;
        line-height: 33px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        margin-right: 47px;
      }
      .add{
        display: flex;
        align-items: flex-end;
        
        p{
          font-size: 16px;
          line-height: 24px;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
        }
      }
    }
    .item{
      display: flex;
      align-items: flex-end;
      .material-icons{
        color: #212529;
        text-align: center;
      }
    }
  }
  .table{
    margin-top: 48px;
    color: #212529;
    thead{
      font-size: 16px;
      line-height: 24px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      border-bottom: 1px solid #212529;
      th{
        .material-icons{
          vertical-align: middle;
          color: #198754;
          font-size: 18px;
        }
      }
    }
    tbody{
      tr{
        border-bottom: 1px solid #CED4DA;
        th, td{
          height: 55px;
          vertical-align: middle;
          font-size: 16px;
          line-height: 24px;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
        }
        td:last-child{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          span:first-child{
            margin-right: 25px;
          }
          .material-icons{
            color: #212529;
            // vertical-align: middle;
          }
        }
      }
    }
  }
  .my-pagination{
    display: flex;
    justify-content: flex-end;
    ul{
      display: flex;
      li{
        border: 1px solid #198754;
        border-right: none;
        a{
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: #212529;
          font-size: 16px;
          line-height: 24px;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          .material-icons{
            color: #198754;
          }
        }
        &.active{
          background-color: #198754;
          a{
            color: #fff;
          }
        }
        &:first-child{
          border-radius: 2px 0px 0px 2px;
        }
        &:last-child{
          border-right: 1px solid #198754;
          border-radius: 0px 2px 2px 0px;
        }
      }
    }
  }
}
