body{
  display: flex;
  .header{
    width: 296px;
    // height: 800px;
    background-color: #F8F9FA;
    font: normal normal bold 16px/24px Lato;
    .logo{
      width: 151px;
      padding-left: 32px;
      padding-top: 32px;
    }
    .content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 694px;
      padding-bottom: 32px;
      .menu{
        padding-top: 32px;
        li{
          &.example{
            border-left: 4px solid #198754;
            a{
              color: #198754;
              .material-icons{  
                margin-left: 28px;
              }
            }
          }
          &:hover{
            background-color:#E0E0E0;
          }
          a{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            text-decoration: none;
            color: #000;
            padding-top: 8px;
            padding-bottom: 8px;
            }
          
            .material-icons{  
              margin-left: 32px;
              margin-right: 16px;
            }
            p{
              font-size: 16px;
              line-height: 24px;;
              font-family: 'Lato', sans-serif;
              font-weight: 700;
            }
          }
        }
      .account{
        display: flex;
        align-items: center;
        .img{
          background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true");
          background-size: cover;
          width: 40px;
          height: 40px;
          margin-right: 16px;
          margin-left: 32px;
          border-radius: 24px;
          }
        .info{
          p{
            font-size: 16px;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-lato);
            line-height: 24px;
          }
          a{
            text-decoration: none;
            color: #6C757D;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-lato);
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
}