/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header {
  width: 296px;
  background-color: #F8F9FA;
  font: normal normal bold 16px/24px Lato;
}

body .header .logo {
  width: 151px;
  padding-left: 32px;
  padding-top: 32px;
}

body .header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 694px;
  padding-bottom: 32px;
}

body .header .content .menu {
  padding-top: 32px;
}

body .header .content .menu li.example {
  border-left: 4px solid #198754;
}

body .header .content .menu li.example a {
  color: #198754;
}

body .header .content .menu li.example a .material-icons {
  margin-left: 28px;
}

body .header .content .menu li:hover {
  background-color: #E0E0E0;
}

body .header .content .menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000;
  padding-top: 8px;
  padding-bottom: 8px;
}

body .header .content .menu li .material-icons {
  margin-left: 32px;
  margin-right: 16px;
}

body .header .content .menu li p {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

body .header .content .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .content .account .img {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true");
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  margin-left: 32px;
  border-radius: 24px;
}

body .header .content .account .info p {
  font-size: 16px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-lato);
  line-height: 24px;
}

body .header .content .account .info a {
  text-decoration: none;
  color: #6C757D;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-lato);
  font-size: 14px;
  line-height: 24px;
}

.index-content {
  width: 880px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;
}

.index-content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index-content .title .material-icons {
  margin-right: 8px;
  color: #198754;
  font-size: 24px;
}

.index-content .title .admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-content .title .admin h1 {
  font-size: 24px;
  line-height: 33px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-right: 47px;
}

.index-content .title .admin .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.index-content .title .admin .add p {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.index-content .title .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.index-content .title .item .material-icons {
  color: #212529;
  text-align: center;
}

.index-content .table {
  margin-top: 48px;
  color: #212529;
}

.index-content .table thead {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #212529;
}

.index-content .table thead th .material-icons {
  vertical-align: middle;
  color: #198754;
  font-size: 18px;
}

.index-content .table tbody tr {
  border-bottom: 1px solid #CED4DA;
}

.index-content .table tbody tr th, .index-content .table tbody tr td {
  height: 55px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.index-content .table tbody tr td:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-content .table tbody tr td:last-child span:first-child {
  margin-right: 25px;
}

.index-content .table tbody tr td:last-child .material-icons {
  color: #212529;
}

.index-content .my-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.index-content .my-pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-content .my-pagination ul li {
  border: 1px solid #198754;
  border-right: none;
}

.index-content .my-pagination ul li a {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #212529;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.index-content .my-pagination ul li a .material-icons {
  color: #198754;
}

.index-content .my-pagination ul li.active {
  background-color: #198754;
}

.index-content .my-pagination ul li.active a {
  color: #fff;
}

.index-content .my-pagination ul li:first-child {
  border-radius: 2px 0px 0px 2px;
}

.index-content .my-pagination ul li:last-child {
  border-right: 1px solid #198754;
  border-radius: 0px 2px 2px 0px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
/*# sourceMappingURL=all.css.map */